<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="allfille" xsi:type="File"
            fileName="c:\DemoLogs\nlog-all-${shortdata}.log"/>
  </targets>
  <rules>
    <logger name="" minlevel="Trace" writeTo="allfile"/>
  </rules>
</nlog>