@model ListAllCommunitiesViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            Welcome to the LongIsland Community Shed!
        </div>
        <div class="col-sm">

        </div>
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                @if (Model.AllCommunities.Any())
                {
                    <h5>There are currently @Model.AllCommunities.Count available on LongIsland</h5>
                    foreach (var community in Model.AllCommunities)
                    {
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@community.Name</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-primary" asp-action="ListAllToolsForCommunity"
                                   asp-controller="Tool" asp-route-communityId="@community.Id">View All Tools</a>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</div>
