@model AddToolViewModel
@{
    ViewData["Title"] = "Add";
}
    <form asp-action="AddTool" method="post" class="mt-3">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Description" class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" style="width:auto">
                    Add Tool
                </button>
            </div>
        </div>
    </form>