@model CommunityToolShedCore.ViewModels.CommunityMembersViewModel

@{
    ViewData["Title"] = "Members";
}

<h1>Members</h1>

@if (Model.CommunityMembers.Any())
{
    <a class="btn btn-primary" style="width:auto"
       asp-controller="Community" asp-action="AddMember" asp-route-communityId="@Model.CommunityId">
        Add Member
    </a>
    <div class="card mb-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var communityMember in Model.CommunityMembers)
                {
                    <tr>
                        <td>@communityMember.ApplicationUser.FirstName</td>
                        <td>@communityMember.ApplicationUser.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No members are part of this community yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to add a member
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Community" asp-action="AddMember" asp-route-communityId="@Model.CommunityId">
                Add Member
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}